<div class="bg-green-300 py-32">
  <div class="max-w-3xl mx-auto">
    <div class="p-10 bg-white text-gray-800 rounded-lg">
      <h2 class="text-3xl mb-3 text-gray-700">Get in touch</h2>

      <p class="mb-6 max-w-lg">
        You can contact me at <span class="text-black">santi@perezperret.com</span>, or leave a message below.
        If you opt in to the updates, I will send you an email every once in a while
        when I publish new posts or content.
      </p>

      <form action="https://formkeep.com/f/2196b304bda9">
        <div class="mb-6">
          <div class="w-full mb-4">
            <label for="" class="block mb-2 text-gray-600">Enter your email</label>
            <input type="text" class="p-4 bg-gray-100 rounded-lg w-full">
          </div>

          <div class="w-full mb-4 inline-flex items-center">
            <input type="checkbox" class="form-checkbox mr-2">
            <label for="" class="text-gray-600">Get notified about new content.</label>
          </div>
        </div>

        <button class="w-full bg-blue-600 rounded-lg px-4 py-2 font-bold text-xl text-white">Submit</button>
      </form>
    </div>
  </div>
</div>
