---
layout: default
---

<div class="min-h-screen bg-white py-32">
  <div class="container mx-auto">
    <div class="mb-20 max-w-2xl">
      <h1 class="text-6xl heading"><%= page[:title] %></h1>

      <div class="text-gray-600 mb-2"><%= date_to_string page[:date], 'ordinal', 'US' %></div>

      <div class="flex">
        <% page[:categories].each do |category| %>
          <div class="text-blue-500 mr-4 uppercase font-bold text-xs"><%= category %></div>
        <% end %>
      </div>
    </div>

    <div class="max-w-2xl content">
      <%= yield %>
    </div>
  </div>
</div>
