<a href="<%= project[:url] %>" target="_blank" class="block">
  <div class="text-gray-800">
    <div class="mb-4">
      <h3 class="text-2xl heading heading--link"><%= project[:title] %></h3>
    </div>

    <div class="content">
      <p class="text-base"><%= project[:description] %></p>
    </div>
  </div>
</a>
