---
layout: page
title: Consulting work
sub_title: What I do for a living.
permalink: /consulting
---

<div class="max-w-2xl content">
  <% markdownify do %>
    I've worked for years as a contractor, mostly building web applications and I've learned a
    lot on the technical side. I think I have it down very well. But I think the most important
    lessons I've learned are not technical.

    I'm looking to have a deeper impact and the next step I want to take is to be very selective
    and deliberate about the projects I choose, and make sure I can have an impact on the business
    side before I jump in on the technnical side.

    Therefore I'm aiming to take part in the business process before I jump into the code.
  <% end %>
</div>
