---
layout: page
title: Get in touch
sub_title:
    I'm always looking for opportunities to collaborate, teach or simply bounce
    ideas.
content:
    Fill out the form and I'll get back to you, or you can write to
    <a href="mailto:santiago@perezperret.com?subject=feedback">
      santiago@perezperret.com</a>.
permalink: /contact
---

<div class="max-w-xl mb-8">
  <%= partial 'contact_form', locals: { source_page: page[:permalink] } %>
</div>

<div class="mb-12 max-w-xl content">
  <p><%= page[:content] %></p>
</div>
