---
layout: page
title: Projects
sub_title: I'm always building stuff, and right now I'm focusing on this full-time.
permalink: /projects
---

<div class="mx-auto container">
  <%= partial 'projects/current' %>
  <%= partial 'projects/other' %>
</div>
