<div id="contact_form" class="bg-green-300 py-8">
  <div class="container mx-auto">
    <div class="max-w-3xl">
      <h2 class="text-3xl mb-3 font-bold text-green-900">Get in touch</h2>

      <form action="https://formkeep.com/f/2196b304bda9" class="mb-4" method="POST" target="_blank">
          <label for="contact_email" class="block mb-2 text-green-800">Enter your email</label>

          <div class="flex mb-2">
            <input id="contact_email" name="email" type="text" class="p-4 bg-green-200 rounded-lg w-full mr-4">

            <button class="bg-blue-500 rounded-lg py-4 px-6 font-bold text-xl text-white">Submit</button>
          </div>

          <div class="w-full inline-flex items-center">
            <input id="contact_subscribe" name="subscribe" type="checkbox" class="form-checkbox mr-2 bg-green-200">
            <label for="contact_subscribe" class="text-green-800">Get notified about new content.</label>
          </div>
      </form>
    </div>
  </div>
</div>
