<footer class="mx-auto pt-16 pb-8 px-4 sm:px-0 container">
  <div class="mx-auto container">
    <div class="content">
      Built by
      <a href="https://github.com/perezperret">perezperret</a>
      using
      <a target="_blank" href="https://www.bridgetownrb.com/">bridgetownrb</a>.
    </div>
  </div>
</footer>
