<footer class="mx-auto pt-16 pb-8 px-4 sm:px-0 container">
  <div class="mx-auto container">
    <div id="contact_form" class="mb-16 max-w-2xl"><%= partial 'contact_form' %></div>

    <div class="container">
      <div class="content">
        Built by
        <a href="https://github.com/perezperret">perezperret</a>
        using
        <a href="https://www.bridgetownrb.com/">bridgetownrb</a>.
      </div>
    </div>
  </div>
</footer>
