<nav class="py-4 px-4 sm:py-8 sm:px-0 bg-white">
  <div class="container mx-auto flex justify-between items-center">
    <a href="/">
      <img src="/assets/img/logo.svg" alt="perezperret.com logo" class="w-16">
    </a>

    <div>
      <% links.each do |link| %>
        <a href="<%= link[:url] %>" class="ml-8 text-lg text-gray-800">
          <%= link[:text] %>
        </a>
      <% end %>
    </div>
  </div>
</nav>
