<footer class="py-8 px-4 sm:px-0 bg-white">
  <div class="container mx-auto flex justify-center text-gray-800">
    <div>
      Built by
      <a class="text-black" href="https://github.com/perezperret">perezperret</a>
      using
      <a class="text-black" href="https://www.bridgetownrb.com/">bridgetownrb</a>.
    </div>
  </div>
</footer>
